<div class="row">
    <div class="col-md-12">
        <div class="panel-group" id="accordion">
            <!-- repeat the following div container -->
            <div class="row">
                <div class="col-md-12" style="padding-bottom: 5px;">
                    <button class="btn btn-default pull-right" (click)="newScheme()">New</button>
                </div>
            </div>
            <div class="panel panel-default" *ngFor="let scheme of schemes; let i = index">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            <span class="glyphicon glyphicon-file"> </span>
                            Scheme {{ i + 1 }}
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" [ngClass]="{in: scheme.expanded }">
                    <div class="panel-body">
                        <div class="col-lg-12 col-md-12">
                            <div class="content">
                                <plb-scheme [scheme]="scheme"></plb-scheme>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>