<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <div class="col-md-6" style="padding-left: 0px;">
                        <h4 class="title">Developments</h4>
                        <p class="category">New area survey and New developments</p>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-info btn-fill btn-wd pull-right" type="button" routerLink="development">New</button>
                    </div>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th *ngFor="let field of fields">{{ field }}</th>
                                <th>Development</th>
                                <th>Price</th>
                                <th>address</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let dev of developments; let d = index;">
                            <tr *ngFor="let sch of dev.schemes; let s = index;">
                                <td>
                                    <a routerLink="development/{{ dev.id }}" routerLinkActive="router-link-active">
                                        {{ sch.bedroom }} <fa name="bed"></fa>
                                        {{ sch.kitchen }} <fa name="shower"></fa>
                                    </a>
                                </td>
                                <td>{{ dev.name }}</td>
                                <td>{{ sch.price }}</td>
                                <td>{{ dev.address }}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>


        <!-- <div class="col-md-12">
            <div class="card card-plain">
                <div class="header">
                    <h4 class="title">Table on Plain Background</h4>
                    <p class="category">Here is a subtitle for this table</p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th *ngFor="let cell of tableData2.headerRow">{{ cell }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of tableData2.dataRows">
                                <td *ngFor="let cell of row">{{cell}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> -->
    </div>
</div>
